<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="img/service.pdf">
                        <img src="img/logos/service-small.jpg" class="img-responsive img-centered" alt="">
                        <h4>Скачать (61МБ)</h4>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                        <a href="https://photos.app.goo.gl/8vDZwq3nV464NEqF7">
                            <img src="img/logos/gallery-small.jpg" class="img-responsive img-centered" alt="">
                            <h4>Смотреть все фото</h4>
                        </a>
                </div>
                    
            </div>
        </div>
    </aside>