<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Комплектация</h2>
                    <h3 class="section-subheading text-muted">Полный сток, механика, климат и ВСЕ.
                        Я удержался от позывов что либо тюнить, колхозить, чиповать, менять на полиуретановое/титановое/кованное и "улучшать" другими способами. 
                        Горжусь тем что машина в полной заводской комплектации.
                        Мне кажется инженеры Субару сделали очень сблансированный автомобиль, любое вносенное в него изменение нарушило бы этот прекрасный эквилибриум.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse"><img src="img/boxer.png" style="width: 84px; position: relative; top: -4px;"></i>
                    </span>
                    <h4 class="service-heading">Двигатель 268 лошадей</h4>
                    <p class="text-muted">
                        Впервые Субару не ЖРЕТ бензин как не в себя, по трассе 7-8 литров, по городу 10-11. 
                        Я не покупал себе Субару раньше именно из-за их прожорливости. 
                        Ездить мне 84км каждый день и каждый лишний литр расхода очень ощущается.
                        Новый WRX со сменой поколений получил новый двухлитровый оппозитный турбомотор с прямым впрыском, развивающий 268 л.с. мощности и 350 Нм тяги.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse"><img src="img/awd.png" style="width: 84px; position: relative; top: -4px;"></i>
                    </span>
                    <h4 class="service-heading">Механика и полный привод</h4>
                    <p class="text-muted">О полном приводе Субару сказано много. 
                        Он бесспорно хорош. Снежный вездеход пролезет в киевской пробке и взберется на карпатскую гору незадумываясь.
                        Механическая коробка передач - клад для истинных ценителей WRX. 
                        Она не ломается, не перегревается и не может сама за вас включить передачу когда этого меньше всего ждешь.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse"><img src="img/subarulogo.png" style="width: 84px; position: relative; top: -4px;"></i>
                    </span>
                    <h4 class="service-heading">Синий цвет</h4>
                    <p class="text-muted">
                        WRX должен быть синим, это легендарный цвет - именно на такой машине раллийная легенда Колин МакРей впервые выиграл чемпионат мира и даже не один.
                        Полное название узнаваемого оттенка синего цвета, который используется Subaru для своих автомобилей — World Rally Blue.                        
                    </p>
                </div>
            </div>
        </div>
    </section>